html
  head
    title= #{fruit}
  body
    h1 Hello! This is the #{fruit} page! Here are some facts about #{fruit}!
    p = #{fact1}
    p = #{fact2}
    p =  fact3

    h1 Get more #{fruit} facts in your email! 
    input(type="text") button Submit 
    button Go Back Home